<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="Tests/bootstrap.php"
         colors="true"
         cacheResultFile=".phpunit.result.cache"
>
    <testsuites>
        <testsuite name="unit">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>Tests</directory>
        </exclude>
    </coverage>
</phpunit>
